$primary-color:black;
 
body {
    font-family: Arial, Helvetica, sans-serif;
    color: $primary-color;
    font-size: 100%;
    background-color: gray;
    filter: blur(1px)
}

/* .messages {
    .alert {
        /* = the same as .alert-error, no need to rewrite */
      /*   &-error
    }
} */
 