h3{ 
    
    font-size: 15;
    background-color: grey;
    color: white;
    text-align: center;
    
}

p{
    font-size: 15;
    background-color: white;
    color: black;
    text-align: center;

}